<phpunit bootstrap="tests/bootstrap.php">
  <logging>
    <log type="coverage-clover" target="build/logs/clover.xml"/>
  </logging>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src</directory>
      <exclude>
        <directory suffix="bootstrap.php">src/</directory>
      </exclude>
    </whitelist>
  </filter>
  <testsuites>
    <testsuite name="kore">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <var name="DB_HOST" value="localhost"/>
    <var name="DB_DB" value="test"/>
    <var name="DB_PORT" value="3306"/>
    <var name="DB_USER" value="test"/>
    <var name="DB_PASS" value="test"/>
  </php>
</phpunit>