<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <directory suffix="bootstrap.php">src/</directory>
    </exclude>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
    </report>
  </coverage>
  <logging/>
  <testsuites>
    <testsuite name="kore">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <var name="DB_HOST" value="localhost"/>
    <var name="DB_DB" value="test"/>
    <var name="DB_PORT" value="3306"/>
    <var name="DB_USER" value="test"/>
    <var name="DB_PASS" value="test"/>
  </php>
</phpunit>
