<phpunit bootstrap="tests/bootstrap.php">
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src</directory>
      <exclude>
        <directory suffix="bootstrap.php">src/</directory>
      </exclude>
    </whitelist>
  </filter>
  <testsuites>
    <testsuite name="kore">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>